<%= form_for @boot do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :cohort %><br />
    <%= f.text_field :cohort %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :github %><br />
    <%= f.text_field :github %>
  </p>
  <p>
    <%= f.label :quora %><br />
    <%= f.text_field :quora %>
  </p>
  <p>
    <%= f.label :twitter %><br />
    <%= f.text_field :twitter %>
  </p>
  <p>
    <%= f.label :facebook %><br />
    <%= f.text_field :facebook %>
  </p>
  <p>
    <%= f.label :linked_in %><br />
    <%= f.text_field :linked_in %>
  </p>
  <p>
    <%= f.label :blog %><br />
    <%= f.text_field :blog %>
  </p>
  <p>
    <%= f.label :hacker_news %><br />
    <%= f.text_field :hacker_news %>
  </p>
  <p><%= f.submit %></p>
<% end %>
